* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #000;
  font-family: Arial, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}
