html, body {
  margin: 0;
  padding: 0;
  background: black;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#camera-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}

video, canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
