#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#cameraArea {
  flex: 1;
  background: black;
  position: relative;
}

#uiArea {
  height: 100px;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button {
  padding: 14px 28px;
  font-size: 18px;
}

#redPixelCounter {
  font-size: 14px;
}
