#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#scanBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 16px 32px;
  font-size: 18px;

  border: none;
  border-radius: 8px;

  background: #00ffcc;
  color: #000;
  font-weight: bold;
}
