#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

button {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 18px;
}
