#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Área da câmera ocupa o topo */
#cameraArea {
  flex: 1;
  background: black;
}

/* Área da interface fica fora da câmera */
#uiArea {
  height: 80px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 14px 28px;
  font-size: 18px;
}
