#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pixelInfo {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: #00ffcc;
  font-size: 16px;
  background: rgba(0,0,0,0.6);
  padding: 6px 0;
}

#scanBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 16px 32px;
  font-size: 18px;

  border: none;
  border-radius: 8px;

  background: #00ffcc;
  color: #000;
  font-weight: bold;
}
