#ui {
  background: #111;
  color: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  font-size: 18px;
  padding: 10px;
}

input[type="range"] {
  width: 100%;
}
