body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #000;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#scannerContainer {
    display: none;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

#cameraFeed {
    height: 50%;
    width: 100%;
    background-color: #333;
    object-fit: cover;
}

#blackScreen {
    height: 50%;
    width: 100%;
    background-color: #000;
}
