/* VISÃO */
#cameraArea {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
  background: black;
}

/* video e canvas sobrepostos */
#camera, #visionCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* canvas intercepta cliques (para seleção de pixel) */
#visionCanvas {
  pointer-events: auto;
  cursor: crosshair;
}
