body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

button {
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 16px;
}

#container {
    position: relative;
}

video,
canvas {
    width: 100%;
    max-width: 480px;
    height: auto;
    background-color: #000;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
